# Titanic: Data Preparation and Analysis

- In this homework assignment, you will practice data loading, preparation, transformation and analysis.
- Follow each *TODO* instruction to write a Python code snippet with pandas. 
- After you finish coding and debugging, click the `Cell` tab, select `Run All`, and then save the notebook that includes the output of each code cell.

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

**TODO 1**
Load data from files `train.csv` and `test.csv` into two DataFrames `train` and `test`, respectively. Display the first six rows of the two DataFrames, respectively.

In [1]:
#####TODO 1#####
pass
from IPython.display import display

train = pd.read_csv('')
test = pd.read_csv('test.csv')
print('First 6 row of dataframe train:')
display(train.head(6))
print('\nFirst 6 row of dataframe test:')
test.head(6)

NameError: name 'pd' is not defined

**TODO 2**
Find the number of columns in the `train` and `test` DataFrames, respectively.

In [ ]:
#####TODO 2#####
pass

**TODO 3** 
Show the names of all columns in the `train` DataFrame with an `object` data type.

In [ ]:
#####TODO 3#####
pass

**TODO 4**
Show the names of all columns in the `train` DataFrame with missing values.

In [ ]:
#####TODO 4#####
pass

**TODO 5**
Find the ticket class with the highest number of passengers in the `train` DataFrame.

In [ ]:
#####TODO 5#####
pass

**TODO 6**
Find the ticket class with the highest survival rate in the `train` DataFrame.

*Hint*: use `train.groupby()`.

In [ ]:
#####TODO 6#####
pass

**TODO 7**
Column `Embarked`stores the port of embarkation for each passenger. Find the number of missing values in this column of both DataFrames separately. Then fill in any missing value in this column with the port of the highest frequency in the `train` DataFrame. Finally, re-calculate the number of missing values in this column to verify your operations.

In [ ]:
#####TODO 7#####
pass

**TODO 8** Output the number of rows in the `train` DataFrame with field `Embarked` equal to 'S'.

In [ ]:
#####TODO 8#####
pass

**TODO 9** Column `Fare` stores the  the tickt fare each passenger paid. Find the number of missing values in this column of both DataFrames separately. If a DataFrame has missing values in this column, then fill in any missing value with the mean ticket fare of the same ticket class in the `train` DataFrame. Finally, re-calculate the number of missing values in this column to verify your operations.

In [ ]:
#####TODO 9#####
pass

**TODO 10** 
Output the ticket fare of the passenger in the `test` DataFrame with field `PassengerId` equal to 1044.

In [ ]:
#####TODO 10#####
pass

**TODO 11**
Compute the survival rate under each distinct level of field `Parch` in the `train` DataFrame.

In [ ]:
#####TODO 11#####
pass

**TODO 12**
Convert the data in column 'Sex' to 1 for 'male' and 0 for 'female' in both DataFrames. Then find the number of zeros in this column of the `train` DataFrame.

In [ ]:
####TODO 12####
pass

**TODO 13** 
Fill in the missing values in column `Age` with the mean age in the `train` DataFrame. Then compute the mean age in the `test` DataFrame.

In [ ]:
#####TODO 13#####
pass

**TODO 14** Add a column `IsChild` to both DataFrames. Assign 1 to this column if a passenger's age is below 16 years old, or 0 otherwise. Then compute the column total. 

*Hint*: use `DataFrame.apply()`. You may define a function.

In [ ]:
#####TODO 14#####
pass

**TODO 15** 
Compute the survival rates of children and adults in the `train` DataFrame.

In [ ]:
#####TODO 15#####
pass