# pandas: Exercises
-  We will use the Occupation data set provided by Kevin Markham https://github.com/justmarkham.

In [1]:
# import pandas
import pandas as pd
from pandas import Series, DataFrame
# import Numpy
import numpy as np

## Load the Data Set

In [2]:
# load the data set
data = pd.read_csv('Occupation.csv', index_col = 'user_id')

## Explore Data

### 1. Show the first five observations.

In [10]:
pass
data.head(5)

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### 2. How many rows are there in the data set?

In [13]:
pass
data.shape[0]

943

### 3. How many columns are there in the data set?

In [12]:
pass
data.shape[1]

4

### 4. Is there any missing value in the data set?

In [15]:
pass
data.isnull().any().any()

False

### 5. Output the column names.

In [16]:
pass
data.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### 6. Output the 100th subject's index.

In [17]:
pass
data.index[99]

100

### 7. How old is the 15th subject?

In [19]:
pass
data.age.iloc[14]

49

### 8. How many subjects are younger than 25 years old?

In [22]:
pass
(data.age < 25).sum()

234

## Aggregate Data

### 9. How many different occupations are there in the data set?

In [29]:
pass
data.occupation.unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

### 10. What is the most frequent occupation?

In [ ]:
pass

### 11. What is the mean age of the subjects?

In [ ]:
pass

### 12. What is the occupation of the oldest subject?

In [ ]:
pass

### 13. What is the least frequent occuptation among the male subjects?

In [ ]:
pass

### 14. What is the mean age of each occupation?

In [ ]:
pass